---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Average:700,400);
$average: 'Average';

// Our variables
$base-font-family: $average, 'Garamond', serif;
$spacing-unit:     30px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "custom",
  "syntax-highlighting"
;
